*{
    margin: 0;
    padding: 0;
}



/*header*/

header.site-init{
    padding: 5px;
    text-align: center;
    background-image: url(./IMG/background1jpg.jpg);
    background-size: 350px;
    font-family: cursive;
    padding: 10px;
    border: 2px solid gray;
}
header.site-initRegister{
    padding: 5px;
    text-align: center;
    background-image: url(./IMG/background1jpg.jpg);
    background-size: 350px;
    font-family: cursive;
    padding: 10px;
    height: 175px;
    border: 2px solid gray;
}
.header-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    font-family: serif;
    background-color: aliceblue;
}
img{
    max-width: 80%;
}

h1 {
    background-color: aliceblue;
    color: black;
    width: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
    margin-top: 2rem;


}

.allnav {
    background-color: aliceblue;
    width: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    font-weight: bolder;
    font-size: larger;
}

.headerP{
    background-color: aliceblue;
    padding: 5px;
    font-family: serif;
}
/* form */

.form-container{
    background-color: rgb(231, 231, 231);
    padding: 20px ;
    width: 60%;
    margin: 1rem auto;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.form-containerServices{
    background-color: rgb(231, 231, 231);
    padding: 20px ;
    width: 60%;
    margin: 1rem auto;
    border-radius: 1rem;
    margin-bottom: 10rem;
}

/*utilities*/

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.menu-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.menu-barRegister{
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    
}
.header-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.menu a{
    background-color: aliceblue;
    width: 150px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    margin-right: 2rem;
    border-left: 1px solid black;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: larger;
}

.menu a:hover{
    border-left: 3px solid black;
    text-shadow: 1px 2px white;
}

a {
    color: black;
}

.flex-c{
    display: flex;
    flex-direction: row;

}

.form-select{
    padding: 5px;
    margin-bottom: 20px;
}

.btn-container{
    padding: 15px;
}
/*main*/

.top-section {
    text-align: center;
}

.indexInfo{
    font-size: larger;
    padding: 30px;
    text-align: left;
    margin-left: 35px;

}


.services{
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding: 2rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border:2px solid gray;
}

.main-body{
    margin-right: 7rem;
    margin-left: 7rem;
    margin-top: 2rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border:2px solid gray;
    padding: 10px;
    font-size: large;
}

.top-img{
    max-width: 60%;
    margin-top: 2rem;
    border:2px solid gray;
}

.price{
    color:green;
    font-size: larger;
    text-align: bottom;
    font-weight: bold;
}

.indexImg{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid gray;
}
.indexImg2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 90% ;
    border: 2px solid gray;
}

/*notifications*/

.alert-error{
    background-color: red;
}





/* card */
#petDiv{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 1rem;
    row-gap: 1rem;
}

.petCard{
    background-color: #dedede;
    padding: 1rem;
}



/*footer*/

.footer{
    background-size: cover;
    height: 150px;
    color: white;
    text-align: center;
    background-image: url(./IMG/background1jpg.jpg);
    background-size: 350px;
    font-family: cursive;
    padding: 10px;
    border: 2px solid gray;
}

.footerBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}


.footerNav {
    background-color: aliceblue;
    font-size: larger;
    font-weight: bolder;
    width: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: auto
}

.footerP{
    color: black;
    background-color: aliceblue;
    width: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto
};